{% extends "base.html" %}

{% block title %}DecoOffice - Add Transactions{% endblock %}

{% block content %}
<main class="flex-1 p-8 flex flex-col bg-[#fafaf5]">
    <header class="flex justify-between items-center mb-10">
        <h2 class="text-2xl font-bold text-gray-700 uppercase tracking-wider">Add Transactions</h2>
    </header>

    <div class="flex-1">
        <form id="add-transaction-form" action="{{ url_for('main.add_transaction') }}" method="POST" class="w-full max-w-4xl mx-auto">
            <!-- CSRF MUST ALWAYS INCLUDE -->
            {{ form.hidden_tag() }} 
            <!--  -->

            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-8">
                
                <div>
                    {{ form.name.label(class="block text-gray-600 text-sm font-semibold mb-2") }}
                    {{ form.name(class="w-full px-4 py-3 bg-white border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400", placeholder="Enter name") }}
                    {% if form.name.errors %}
                        <ul class="text-red-500 text-xs italic mt-2">
                            {% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div>
                    {{ form.date_time.label(class="block text-gray-600 text-sm font-semibold mb-2") }}
                    {{ form.date_time(class="w-full px-4 py-3 bg-white border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400") }}
                    {% if form.date_time.errors %}
                        <ul class="text-red-500 text-xs italic mt-2">
                            {% for error in form.date_time.errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div>
                    {{ form.transaction_id.label(class="block text-gray-600 text-sm font-semibold mb-2") }}
                    {{ form.transaction_id(class="w-full px-4 py-3 bg-white border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400", placeholder="#") }}
                     {% if form.transaction_id.errors %}
                        <ul class="text-red-500 text-xs italic mt-2">
                            {% for error in form.transaction_id.errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div>
                    {{ form.amount.label(class="block text-gray-600 text-sm font-semibold mb-2") }}
                    {{ form.amount(class="w-full px-4 py-3 bg-white border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400", step="0.01") }}
                    {% if form.amount.errors %}
                        <ul class="text-red-500 text-xs italic mt-2">
                            {% for error in form.amount.errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div>
                    {{ form.payment_method.label(class="block text-gray-600 text-sm font-semibold mb-2") }}
                    {{ form.payment_method(class="w-full px-4 py-3 bg-white border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400 appearance-none") }}
                    {% if form.payment_method.errors %}
                        <ul class="text-red-500 text-xs italic mt-2">
                            {% for error in form.payment_method.errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div>
                    {{ form.status.label(class="block text-gray-600 text-sm font-semibold mb-2") }}
                    {{ form.status(class="w-full px-4 py-3 bg-white border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400 appearance-none") }}
                    {% if form.status.errors %}
                        <ul class="text-red-500 text-xs italic mt-2">
                            {% for error in form.status.errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="flex justify-center mt-12 space-x-6">
                <button type="reset" class="px-12 py-3 bg-[#3a4d39] hover:bg-[#4d684b] text-white font-semibold rounded-lg shadow-md transition-colors">Reset</button>
                <button type="submit" class="px-12 py-3 bg-[#3a4d39] hover:bg-[#4d684b] text-white font-semibold rounded-lg shadow-md transition-colors">Add</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}