Flask
Flask-Bcrypt
Flask-JWT-Extended
Flask-Limiter
Flask-Mail
Flask-Talisman
Flask-WTF
Jinja2
PyJWT
WTForms
bcrypt
blinker
certifi
charset-normalizer
click
colorama
dnspython
dotenv
email-validator
idna
itsdangerous
MarkupSafe
pymongo
pyotp
pytz
qrcode
requests
sib-api-v3-sdk
six
urllib3
waitress
Werkzeug
Pillow
pywebpush
reportlab
